In [187]:
from tabulate import tabulate
from pprint import pprint as pp
import pandas as pd
from datetime import datetime as dt

In [188]:
#To Print the name of the Employee
name = (input("Enter the employee name: "))

Enter the employee name:  Varun Kumar

In [189]:
#To print the start date of the Employee
start_date = input("Enter a date when the pay period started (in the format MM/DD/YYYY) : ")
date_obj = dt.strptime(start_date, '%m/%d/%Y')
print("The time period started on:", date_obj.strftime("%B %d, %Y"))

Enter a date when the pay period started (in the format MM/DD/YYYY) :  02/12/2022

The time period started on: February 12, 2022

In [190]:
#To print the end date of the Employee
end_date = input("Enter a date when the pay period started (in the format MM/DD/YYYY) : ")
date_obj = dt.strptime(end_date, '%m/%d/%Y')
print("The time period ended on:", date_obj.strftime("%B %d, %Y"))

Enter a date when the pay period started (in the format MM/DD/YYYY) :  02/12/2023

The time period ended on: February 12, 2023

In [207]:
#To print the gross wages
Gross_wages = int(input("Enter the gross wage of the employee: "))

Enter the gross wage of the employee:  80000

In [208]:
#Tax Deduction
if Gross_wages > 70000:
    Federal_Tax = 10000
    State_Tax = 3000

    tax_deduction = (Federal_Tax + State_Tax)
    pp(f"The Tax deduction amount is: ${tax_deduction} ")
    
    Gross_Wages_After_Tax_Deduction = (Gross_wages - tax_deduction)
    pp(f"The gross wages after tax deduction is: ${Gross_Wages_After_Tax_Deduction}") 

elif Gross_wages <= 70000:
    Federal_Tax = 8168
    State_Tax = 2321

    tax_deduction = (Federal_Tax + State_Tax)
    pp(f"The Tax deduction amount is: ${tax_deduction} ")
    
    Gross_Wages_After_Tax_Deduction = (Gross_wages - tax_deduction)
    pp(f"The gross wages after tax deduction is: ${Gross_Wages_After_Tax_Deduction}") 

elif 70000 >= Gross_wages <= 65000:
    Federal_Tax = 7288
    State_Tax = 1332
    tax_deduction = Gross_wages - (Federal_Tax + State_Tax)
    pp(f"The Tax deduction amount is: ${tax_deduction} ")

    Gross_Wages_After_Tax_Deduction = (Gross_wages - tax_deduction)
    pp(f"The gross wages after tax deduction is: ${Gross_Wages_After_Tax_Deduction}") 

else:
    print("Enter the valid amount")

'The Tax deduction amount is: $13000 '
'The gross wages after tax deduction is: $67000'

In [209]:
#Employee Benefits Deduction
benefits = input("Is the Employee taking benefits (enter 'yes' for the employee benefit deduction) or (enter 'no')? ")
if benefits == "yes":
    Employee_Benefits = 2500
    Gross_Wages_After_Tax_And_EmployeeBenefitDeduction = (Gross_wages - (tax_deduction + Employee_Benefits))
    pp(f"The Gross wage after the Tax and Employee Benefits Deduction is: ${Gross_Wages_After_Tax_And_EmployeeBenefitDeduction}")
       
elif benefits == "no":
    Employee_Benefits = 0
    Gross_Wages_After_Tax_And_EmployeeBenefitDeduction = (Gross_wages - tax_deduction)
    pp(f"The Gross wage after the Tax Deduction is: ${Gross_Wages_After_Tax_And_EmployeeBenefitDeduction}")
        
else:
    print("Invalid input. Please enter either 'Yes' or 'No'.")
print()

Is the Employee taking benefits (enter 'yes' for the employee benefit deduction) or (enter 'no')?  yes

'The Gross wage after the Tax and Employee Benefits Deduction is: $64500'

In [210]:
#Net Pay
net_pay = Gross_Wages_After_Tax_And_EmployeeBenefitDeduction
pp(f"Annual Salary of the Employee is ${net_pay}")

'Annual Salary of the Employee is $64500'

In [211]:
# creating the dataframe
data= {'Name': [name], 
       'Starting Date' :[start_date],
       'Ending Time' :[end_date],
       'Gross Wage' : [Gross_wages], 
       'Gross Wage after Tax Deduction':[Gross_Wages_After_Tax_Deduction], 
       'Gross Wage after Tax and Employee Benefit Deduction': [Gross_Wages_After_Tax_And_EmployeeBenefitDeduction], 
       'Take Home' : [net_pay]}
df = pd.DataFrame(data)
display("The Employee Information is")

display(df)

'The Employee Information is'

,Name,Starting Date,Ending Time,Gross Wage,Gross Wage after Tax Deduction,Gross Wage after Tax and Employee Benefit Deduction,Take Home
0,Varun Kumar,02/12/2022,02/12/2023,80000,67000,64500,64500

In [212]:
print(tabulate(data, headers=['Name','Starting Date','Ending Time','Gross Wage','Gross Wage after Tax Deduction','Gross Wage after Tax and Employee Benefit Deduction','Take Home'], tablefmt = "pretty",showindex = True, missingval = 'n/a'))

+---+-------------+---------------+-------------+------------+--------------------------------+-----------------------------------------------------+-----------+
|   |    Name     | Starting Date | Ending Time | Gross Wage | Gross Wage after Tax Deduction | Gross Wage after Tax and Employee Benefit Deduction | Take Home |
+---+-------------+---------------+-------------+------------+--------------------------------+-----------------------------------------------------+-----------+
| 0 | Varun Kumar |  02/12/2022   | 02/12/2023  |   80000    |             67000              |                        64500                        |   64500   |
+---+-------------+---------------+-------------+------------+--------------------------------+-----------------------------------------------------+-----------+